package ${mainPath}.domain;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasLocalDateTime})
import java.time.LocalDateTime;
#end
#if(${hasInstant})
import java.time.Instant;
#end
import lombok.Data;

/**
 * ${comment}
 *
 * @author ${author}
 */
@Data
@TableName("${tableName}")
public class ${className} extends BaseEntity {

#foreach ($column in $columns)
	#if(${column.name} !='create_by' && $column.name!='create_time' && $column.name!='update_by' && $column.name!='update_time' && $column.name!='remark')
	/**
	 * $column.comment
	 */
	#if($column.name == $pk.name)
@TableId
	#end
private $column.fieldType $column.fieldname;
	#end

#end

}
