import axios from '../request' 

const api = {

    /**
     * 查询${comments}信息
     */
    get${className}Info: ${classname}Id => axios.get(`/${pathName}/info/${${classname}Id}`),
    
    /**
     * 查询${comments}列表
     */
    get${className}List: data => axios.get(`/${classname}/list`,data),

    /**
     * 添加${comments}
     */
    add${className}: (data) => axios.post(`/${pathName}/save`, data),

    /**
     * 修改${comments}
     */
    update${className}: (data) => axios.put(`/${pathName}/update`, data),

    /**
     * 修改${comments}
     */
    deleteUser: id => axios.delete(`/${pathName}/delete/${id}`),

}

export default api
