package ${mainPath}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;


import ${mainPath}.mapper.${className}Mapper;
import ${mainPath}.domain.${className};
import ${mainPath}.service.${className}Service;

/**
* @author gongxuanzhangmelt@gmail.com
*/
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}>
        implements ${className}Service {

}




